<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit chat</title>
</head>
<body>
  <p> chat id is: <%=chat.id%> </p> 
<p> This msg was sent from <%=chat.from%> to <%=chat.to%></p>

  <form method="PUT" action="/chats/<%=chat.id%>">
    <textarea name="msg" id="" cols="30" rows="10"><%=chat.msg%></textarea>
    <br>
<button>update</button>

  </form>
    
</body>
</html>