<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsapp-index route</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>all chats</h1>

    <form method="GET" action="/chats/new">
        <button>new chat </button>
    </form>
    <%for(chat of chats){ %>
        <div class="chatbox">
            <p>from: <%=chat.from%></p>
            <p class="msg">msg: <%=chat.msg%></p>
            <p>to: <%=chat.to%></p>
            <hr>
            <p>time:<%=chat.created_at.toString().split(" ")[4]%></p>
            <p>date:<%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
        </div>
    <%}%>
    
</body>
</html>

